@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/** Fonts **/
/** Variables **/
/** Reset **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FBFCFF;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    padding: 0 40px;
  }
}

.gather-title {
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

header {
  background-color: #F5F4FD;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
@media (max-width: 768px) {
  header .container {
    padding: 40px 40px 100px 40px;
    position: relative;
  }
}
header .container .gather-logo {
  height: 30px;
}
header .container .gather-logo img {
  height: 100%;
}
header .container .gather-search {
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 100;
}
@media (max-width: 768px) {
  header .container .gather-search {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 80px);
  }
}
header .container .gather-search input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background-color: #FBFCFF;
  border: 2px solid #FBFCFF;
  transition: 0.1s all ease-in-out;
}
header .container .gather-search input:focus {
  outline: #7138EB;
  border: 2px solid #7138EB;
}
header .container .gather-search input::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: #7138EB;
  background-image: url(/images/fi-br-cross-white.svg?e8e9dbdad3cff755c2e7d6aecd8630b1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
header .container .gather-search .gather-search-results {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #F2ECFF;
  z-index: -1;
}
header .container .gather-search .gather-search-results a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
header .container .gather-search .gather-search-results a:hover {
  background-color: #7C44F3;
  color: white;
}
header .container #gather-burger-checkbox {
  display: none;
}
header .container #gather-burger-checkbox ~ label {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 150;
}
header .container #gather-burger-checkbox ~ label:hover {
  cursor: pointer;
}
header .container #gather-burger-checkbox ~ label span {
  width: 30px;
  height: 3px;
  background-color: #7138EB;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 9999px;
  transition: 0.2s all ease-in-out;
}
header .container #gather-burger-checkbox ~ label:after, header .container #gather-burger-checkbox ~ label:before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #7138EB;
  position: absolute;
  border-radius: 9999px;
  transition: 0.2s all ease-in-out;
}
header .container #gather-burger-checkbox ~ label:after {
  top: 0;
}
header .container #gather-burger-checkbox ~ label:before {
  bottom: 0;
}
header .container #gather-burger-checkbox:checked ~ label span {
  background-color: transparent;
}
header .container #gather-burger-checkbox:checked ~ label:after, header .container #gather-burger-checkbox:checked ~ label:before {
  width: 30px;
}
header .container #gather-burger-checkbox:checked ~ label:after {
  top: 50%;
  transform: rotate(45deg) translate(0, -50%);
}
header .container #gather-burger-checkbox:checked ~ label:before {
  bottom: 50%;
  transform: rotate(-45deg) translate(0, 50%);
}
header .container #gather-burger-checkbox:checked ~ .gather-menu {
  right: 0;
}
header .container .gather-menu {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -310px;
  z-index: 100;
  background-color: #FBFCFF;
  padding-bottom: 100px;
  transition: 0.2s all ease-in-out;
}
header .container .gather-menu-top {
  width: 100%;
  height: 110px;
  background-color: #F5F4FD;
}
header .container .gather-menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .container .gather-menu-items .gather-item-separator {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  display: block;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}
header .container .gather-menu-items .gather-menu-item {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #616772;
  border: none;
  background: #FBFCFF;
}
header .container .gather-menu-items .gather-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
header .container .gather-menu-items .gather-menu-item .gather-menu-item-wrapper-icon {
  height: 20px;
  min-height: 20px;
  min-width: 40px;
  width: 40px;
  overflow: hidden;
}
header .container .gather-menu-items .gather-menu-item .gather-menu-item-wrapper-icon img {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .container .gather-menu-items .gather-menu-item span {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 20px;
}
header .container .gather-menu-items .gather-user-connected {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px 15px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 50px;
  width: 100%;
  background-color: #7C44F3;
}
header .container .gather-menu-items .gather-user-connected:hover {
  background-color: #7138EB;
}
header .container .gather-menu-items .gather-user-connected:hover .gather-user-connected-image-wrapper:after {
  width: 90%;
  height: 90%;
}
header .container .gather-menu-items .gather-user-connected .gather-user-connected-image-wrapper {
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}
header .container .gather-menu-items .gather-user-connected .gather-user-connected-image-wrapper:after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  transition: 0.1s all ease-in-out;
  will-change: height, width;
}
header .container .gather-menu-items .gather-user-connected .gather-user-connected-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .container .gather-menu-items .gather-user-connected span {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

.gather-button {
  padding: 5px 20px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.1s all ease-in-out;
  margin: 0 20px;
}
.gather-button:hover {
  cursor: pointer;
}
.gather-button:focus {
  outline: none;
}

.gather-button-black {
  background-color: #7138EB;
  border-color: #7138EB;
  color: #fff;
}
.gather-button-black:hover {
  background-color: #7138EB;
  border-color: #7138EB;
}
.gather-button-black:active {
  background-color: #5E26D4;
  border-color: #5E26D4;
}

.gather-button-white {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.gather-button-green {
  background-color: #7C44F3;
  border-color: #7C44F3;
  color: #fff;
}
.gather-button-green:hover {
  background-color: #7138EB;
  border-color: #7138EB;
}
.gather-button-green:active {
  background-color: #5E26D4;
  border-color: #5E26D4;
}

.gather-form {
  width: 100%;
  max-width: 400px;
  margin: 50px auto 100px auto;
  display: flex;
  flex-direction: column;
}
.gather-form .gather-form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.gather-form .gather-form-input-wrapper label, .gather-form .gather-form-input-wrapper p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.gather-form .gather-form-input-wrapper input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #F2F3F9;
  border: 2px solid #F2F3F9;
  transition: 0.1s all ease-in-out;
}
.gather-form .gather-form-input-wrapper input:focus {
  outline: #000;
  border: 2px solid #000;
}
.gather-form .gather-form-input-wrapper textarea {
  width: 100%;
  height: 150px;
  max-height: 150px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #F2F3F9;
  border: 2px solid #F2F3F9;
  transition: 0.1s all ease-in-out;
}
.gather-form .gather-form-input-wrapper textarea:focus {
  outline: #000;
  border: 2px solid #000;
}
.gather-form .gather-form-input-wrapper .gather-form-error {
  margin-top: 5px;
  background-color: #FFC7D8;
  color: #FF3E5C;
  font-size: 12px;
  padding: 5px;
}
.gather-form .gather-form-input-wrapper .gather-form-input-file {
  display: none;
}
.gather-form .gather-form-input-wrapper .gather-form-input-file + label {
  width: 100%;
  height: 100px;
  background-color: #F2F3F9;
  background-image: url("/img/gather-icon-file.svg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: center;
  transition: 0.2s all ease-in-out;
  border-radius: 5px;
}
.gather-form .gather-form-input-wrapper .gather-form-input-file + label:hover {
  cursor: pointer;
  background-color: #F5F4FD;
}
.gather-form .gather-form-input-wrapper .gather-form-media-file-label-infos {
  margin: 10px;
  font-size: 10px;
}
.gather-form .gather-form-submit {
  padding: 5px 20px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  margin: 0 20px;
  background-color: #7138EB;
  border-color: #7138EB;
  color: #fff;
}
.gather-form .gather-form-submit:hover {
  cursor: pointer;
}
.gather-form .gather-form-reset {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 12px;
  margin: 15px auto;
}

.gather-form-input-wrapper-checkbox {
  display: none;
}

.gather-form-input-wrapper-checkbox + label {
  background-color: #F5F4FD;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
}
.gather-form-input-wrapper-checkbox + label:before {
  content: " ";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  transition: 0.1s all ease-in-out;
}

.gather-form-input-wrapper-checkbox:checked + label {
  background-color: #7138EB;
}
.gather-form-input-wrapper-checkbox:checked + label:before {
  left: 70%;
}

.gather-small-medias {
  padding: 50px 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.gather-main-media {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto 0 auto;
  padding-bottom: 50px;
  position: relative;
}
.gather-main-media:after {
  content: " ";
  width: 100%;
  max-width: 1240px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.gather-main-media .gather-main-media-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.gather-main-media .gather-main-media-wrapper video {
  width: 142.2222222224vh;
  height: 80vh;
  max-width: 100%;
}
@media (max-width: 768px) {
  .gather-main-media .gather-main-media-wrapper video {
    width: 284.4444444448px;
    height: 160px;
  }
}
.gather-main-media .gather-main-media-wrapper video:focus {
  outline: none;
}
.gather-main-media .gather-media-infos {
  width: 100%;
}
.gather-main-media .gather-media-infos .gather-media-infos-part {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .gather-main-media .gather-media-infos .gather-media-infos-part {
    flex-direction: column;
  }
}
.gather-main-media .gather-media-infos .gather-media-infos-part p.gather-media-title {
  font-size: 24px;
  font-weight: 600;
  display: block;
}
.gather-main-media .gather-media-infos .gather-media-infos-part span {
  font-size: 12px;
  color: #7138EB;
}
.gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  min-width: 120px;
}
@media (max-width: 768px) {
  .gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author {
    margin-top: 25px;
    width: 100%;
    align-items: center;
  }
}
.gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author .gather-media-author-img-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  overflow: hidden;
}
.gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author .gather-media-author-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author div {
    width: 100%;
    align-items: center;
  }
}
.gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author span {
  font-size: 16px;
  color: #000;
  text-align: right;
  width: 100%;
}
@media (max-width: 768px) {
  .gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author span {
    text-align: center;
  }
}
.gather-main-media .gather-media-infos .gather-media-infos-part .gather-media-author button {
  margin: 0;
}
.gather-main-media .gather-media-infos .gather-media-infos-part p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  max-width: 600px;
}

.gather-next-medias-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .gather-next-medias-title {
    text-align: center;
  }
}

.gather-small-media {
  width: 355.555555556px;
  height: 200px;
  display: block;
  margin: 0 20px 100px 0;
  text-decoration: none;
  color: #000;
  position: relative;
}
@media (max-width: 768px) {
  .gather-small-media {
    width: 284.4444444448px;
    height: 160px;
    margin: 0 auto 100px auto;
  }
}
.gather-small-media:hover .gather-small-media-preview {
  filter: grayscale(1);
}
.gather-small-media:hover .gather-delete-media, .gather-small-media:hover .gather-edit-media {
  visibility: visible;
  opacity: 1;
}
.gather-small-media img {
  will-change: filter;
  transition: 0.2s all ease-in-out;
  width: 100%;
}
.gather-small-media .gather-edit-media {
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  top: 10px;
  right: 40px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  background-image: url(/images/fi-br-pencil-white.svg?6a39a04dad56ce8538960e3c4b5a1261);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1024px) {
  .gather-small-media .gather-edit-media {
    visibility: visible;
    opacity: 1;
  }
}
.gather-small-media .gather-edit-media:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.gather-small-media .gather-delete-media {
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  top: 10px;
  right: 10px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  background-image: url(/images/fi-br-trash-white.svg?005893d7bb415e74f8ad0982a5133e44);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1024px) {
  .gather-small-media .gather-delete-media {
    visibility: visible;
    opacity: 1;
  }
}
.gather-small-media .gather-delete-media:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.gather-small-media .gather-media-infos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.gather-small-media .gather-media-infos h2 {
  top: 10px;
  left: 10px;
  font-size: 15px;
  font-weight: 600;
  max-width: 70%;
}
.gather-small-media .gather-media-infos span {
  top: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
}
@media (max-width: 768px) {
  .gather-small-media .gather-media-infos span {
    font-size: 10px;
  }
}
.gather-small-media .gather-media-infos-user {
  display: flex;
  align-items: center;
}
.gather-small-media .gather-media-infos-user div {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.gather-small-media .gather-media-infos-user div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gather-small-media .gather-media-infos-user span {
  margin-left: 5px;
  font-size: 12px;
  color: #000;
}

.gather-small-media-duration {
  position: absolute;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 5px;
  font-weight: 400;
  font-size: 12px;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.gather-profile-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 40px 0;
  background-color: #7C44F3;
  position: relative;
  overflow: hidden;
}
.gather-profile-header .gather-profile-header-user {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper:after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  content: " ";
  background-color: white;
  top: 0;
  left: 0;
  border-radius: 9999px;
  -webkit-animation: 2s ease-in-out infinite alternate gather-profile-img;
          animation: 2s ease-in-out infinite alternate gather-profile-img;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper:before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  content: " ";
  background-color: white;
  top: 0;
  left: 0;
  border-radius: 9999px;
  transition: 0.3s all ease-in-out;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper:hover:after {
  -webkit-animation: none;
          animation: none;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper:hover:before {
  transform: scale(15);
  opacity: 0.1;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper:hover {
  cursor: pointer;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper:hover .gather-user-edit-btn {
  visibility: visible;
  opacity: 1;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 9999px;
  position: relative;
  z-index: 20;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gather-profile-header .gather-profile-header-user .gather-profile-image-wrapper div .gather-user-edit-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  background-image: url(/images/fi-br-pencil-white.svg?6a39a04dad56ce8538960e3c4b5a1261);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.gather-profile-header .gather-profile-header-user h1 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
}
.gather-profile-header .gather-profile-header-user span {
  color: #fff;
  font-size: 12px;
  opacity: 0.6;
}
.gather-profile-header .gather-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: #fff;
  color: #7138EB;
}
.gather-profile-header .gather-button:hover {
  background-color: #F5F4FD;
}

@-webkit-keyframes gather-profile-img {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes gather-profile-img {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.gather-edit-media-wrapper {
  margin-top: 50px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}
@media (max-width: 768px) {
  .gather-edit-media-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.gather-edit-media-wrapper .gather-edit-media-resume {
  margin-right: 25px;
  width: 355.555555556px;
  height: 200px;
  display: block;
  position: relative;
}
@media (max-width: 768px) {
  .gather-edit-media-wrapper .gather-edit-media-resume {
    width: 284.4444444448px;
    height: 160px;
    margin-right: 0;
  }
}
.gather-edit-media-wrapper .gather-edit-media-resume img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gather-edit-media-wrapper form {
  margin: 0 0 0 25px;
}
@media (max-width: 768px) {
  .gather-edit-media-wrapper form {
    margin: 25px 0;
  }
}

.gather-container-404 {
  display: flex;
  flex-direction: column;
}
.gather-container-404 .gather-404-title {
  width: 100%;
  margin-top: 200px;
  text-align: center;
  color: #7138EB;
  font-size: 36px;
}
.gather-container-404 .gather-button-black {
  margin: 30px auto;
}

.gather-nothing {
  width: 100%;
  margin-top: 200px;
  text-align: center;
  color: #7138EB;
  font-size: 36px;
  font-weight: bold;
}
