/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** Variables **/
$black : #000;
$white : #fff;

$darkgrey : #616772;
$mediumgrey : #EBEAFF;
$lightgrey : #F5F4FD;
$verylightgrey : #FBFCFF;
$inputgrey : #F2F3F9;

$lightgreen : #00C593;
$green : #00B889;
$darkgreen : #153D37;

$red : #FF3E5C;
$lightred : #FFC7D8;

$lightpurple: #7C44F3;
$purple: #7138EB;
$darkpurple: #5E26D4;

$poppins : 'Poppins', sans-serif;

/** Reset **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;
}

body {
    background-color: $verylightgrey;
}

.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    @media (max-width: 1280px){
        padding: 0 40px;
    }
}

.gather-title {
    padding-top: 40px;
    font-family: $poppins;
    font-weight: 600;
}

@mixin rec($height) {
    $width : $height * 1.77777777778;
    width: $width;
    height: $height;
}

@import "partials/header.scss";
@import "partials/buttons.scss";
@import "partials/forms.scss";
@import "partials/medias.scss";
@import "partials/profile.scss";
@import "partials/errors.scss";
