.gather-button {
    padding: 5px 20px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-family: $poppins;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s all ease-in-out;
    margin: 0 20px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.gather-button-black {
    background-color: $purple;
    border-color: $purple;
    color: $white;

    &:hover {
        background-color: $purple;
        border-color: $purple;
    }

    &:active {
        background-color: $darkpurple;
        border-color: $darkpurple;
    }
}

.gather-button-white {
    background-color: $white;
    border-color: $black;
    color: $black;
}

.gather-button-green {
    background-color: $lightpurple;
    border-color: $lightpurple;
    color: $white;

    &:hover {
        background-color: $purple;
        border-color: $purple;
    }

    &:active {
        background-color: $darkpurple;
        border-color: $darkpurple;
    }
}
