.gather-container-404{
    display: flex;
    flex-direction: column;
    .gather-404-title {
        width: 100%;
        margin-top: 200px;
        text-align: center;
        color: $purple;
        font-size: 36px;
    }
    .gather-button-black {
        margin: 30px auto;
    }
}

.gather-nothing {
    width: 100%;
    margin-top: 200px;
    text-align: center;
    color: $purple;
    font-size: 36px;
    font-weight: bold;
}

