.gather-form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto 100px auto;

    display: flex;
    flex-direction: column;

    .gather-form-input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        label, p {
            font-family: $poppins;
            font-size: 15px;
        }

        input {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            padding: 0 10px;
            background-color: $inputgrey;
            border: 2px solid $inputgrey;
            transition: 0.1s all ease-in-out;
            &:focus {
                outline: $black;
                border: 2px solid $black;
            }
        }
        textarea {
            width: 100%;
            height: 150px;
            max-height: 150px;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: $inputgrey;
            border: 2px solid $inputgrey;
            transition: 0.1s all ease-in-out;
            &:focus {
                outline: $black;
                border: 2px solid $black;
            }
        }

        .gather-form-error {
            margin-top: 5px;
            background-color: $lightred;
            color: $red;
            font-size: 12px;
            padding: 5px;
        }

        .gather-form-input-file {
            display: none;
        }

        .gather-form-input-file + label {
            width: 100%;
            height: 100px;
            background-color: $inputgrey;
            background-image: url("/img/gather-icon-file.svg");
            background-repeat: no-repeat;
            background-size: 10%;
            background-position: center;
            transition: 0.2s all ease-in-out;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                background-color: $lightgrey;
            }
        }

        .gather-form-media-file-label-infos {
            margin: 10px;
            font-size: 10px;
        }
    }

    .gather-form-submit {
        padding: 5px 20px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        transition: 0.2s all ease-in-out;
        margin: 0 20px;
        background-color: $purple;
        border-color: $purple;
        color: $white;

        &:hover {
            cursor: pointer;
        }
    }

    .gather-form-reset {
        font-family: $poppins;
        color: $black;
        font-size: 12px;
        margin: 15px auto;
    }
}


.gather-form-input-wrapper-checkbox {
    display: none;
}

.gather-form-input-wrapper-checkbox + label {
    background-color: $lightgrey;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    position: relative;

    &:before {
        content: ' ';
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        background-color: $white;
        border-radius: 20px;
        transition: 0.1s all ease-in-out;
    }
}

.gather-form-input-wrapper-checkbox:checked + label {
    background-color: $purple;

    &:before {
        left: 70%;
    }
}

