header {
    background-color: $lightgrey;
    width: 100%;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        @media (max-width: 768px) {
            padding: 40px 40px 100px 40px;
            position: relative;
        }

        .gather-logo {
            height: 30px;

            img {
                height: 100%;
            }
        }

        .gather-search {
            width: 100%;
            max-width: 400px;
            position: relative;
            z-index: 100;
            @media (max-width: 768px) {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 80px);
            }

            input {
                width: 100%;
                height: 30px;
                padding: 0 10px;
                background-color: $verylightgrey;
                border: 2px solid $verylightgrey;
                transition: 0.1s all ease-in-out;
                &:focus {
                    outline: $purple;
                    border: 2px solid $purple;
                }

                &::-webkit-search-cancel-button{
                    position:relative;
                    right:10px;
                    -webkit-appearance: none;
                    height: 15px;
                    width: 15px;
                    border-radius:10px;
                    background-color: $purple;
                    background-image: url("../img/icons/fi-br-cross-white.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 60%;
                }
            }

            .gather-search-results {
                position: absolute;
                top: 30px;
                left: 0;
                width: 100%;
                height: auto;
                background-color: #F2ECFF;
                z-index: -1;

                a{
                    display: block;
                    padding: 10px 20px;
                    text-decoration: none;

                    &:hover {
                        background-color: $lightpurple;
                        color: white;
                    }
            }
            }
        }

        #gather-burger-checkbox {
            display: none;
        }

        #gather-burger-checkbox ~ label {
            width: 30px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 150;

            &:hover {
                cursor: pointer;
            }

            span {
                width: 30px;
                height: 3px;
                background-color: $purple;
                user-select: none;
                border-radius: 9999px;
                transition: 0.2s all ease-in-out;
            }

            &:after, &:before {
                content: ' ';
                display: block;
                width: 30px;
                height: 3px;
                background-color: $purple;
                position: absolute;
                border-radius: 9999px;
                transition: 0.2s all ease-in-out;
            }

            &:after {
                top: 0;
            }

            &:before {
                bottom: 0;
            }
        }

        #gather-burger-checkbox:checked ~ label {
            span {
                background-color: transparent;
            }

            &:after, &:before {
                width: 30px;
            }

            &:after {
                top: 50%;
                transform: rotate(45deg) translate(0, -50%);
            }

            &:before {
                bottom: 50%;
                transform: rotate(-45deg) translate(0, 50%);
            }
        }

        #gather-burger-checkbox:checked ~ .gather-menu {
            right: 0;
        }

        .gather-menu {
            width: 300px;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -310px;
            z-index: 100;
            background-color: $verylightgrey;
            padding-bottom: 100px;
            transition: 0.2s all ease-in-out;
        }

        .gather-menu-top {
            width: 100%;
            height: 110px;
            background-color: $lightgrey;
        }

        .gather-menu-items {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .gather-item-separator {
                width: 100%;
                height: 1px;
                margin: 10px 0;
                display: block;
                border: none;
                background-color: rgba(0,0,0,0.2);
            }

            .gather-menu-item {
                padding: 15px;
                width: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $darkgrey;
                border: none;
                background: $verylightgrey;
                &:hover {
                    background-color: rgba(0,0,0,0.05);
                    cursor: pointer;
                }

                .gather-menu-item-wrapper-icon {
                    height: 20px;
                    min-height: 20px;
                    min-width: 40px;
                    width: 40px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        user-select: none;
                    }
                }
                span {
                    margin-left: 10px;
                    font-family: $poppins;
                    font-weight: 400;
                    font-size: 14px;
                    height: 20px;
                }


            }

            .gather-user-connected {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 7px 15px;
                transition: background-color 0.2s ease-in-out;
                margin-bottom: 50px;
                width: 100%;
                background-color: $lightpurple;
                &:hover {
                    background-color: $purple;
                    .gather-user-connected-image-wrapper {
                        &:after {
                            width: 90%;
                            height: 90%;
                        }
                    }
                }

                .gather-user-connected-image-wrapper {
                    height: 40px;
                    min-height: 40px;
                    min-width: 40px;
                    width: 40px;
                    border-radius: 9999px;
                    overflow: hidden;
                    position: relative;

                    &:after {
                        content: ' ';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        border-radius: 9999px;
                        border: 2px solid rgba(255,255,255,0.8);
                        transition: 0.1s all ease-in-out;
                        will-change: height, width;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                        user-select: none;
                    }
                }

                span {
                    margin-left: 10px;
                    font-family: $poppins;
                    font-weight: 400;
                    color: $white;
                }
            }
        }
    }
}

