.gather-small-medias {
    padding: 50px 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.gather-main-media {
    width: fit-content;
    margin: 20px auto 0 auto;
    padding-bottom: 50px;
    position: relative;

    &:after {
        content: ' ';
        width: 100%;
        max-width: 1240px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .gather-main-media-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;


        video {
            @include rec(80vh);
            max-width: 100%;
            @media (max-width: 768px) {
                @include rec(160px);
            }

            &:focus {
                outline: none;
            }
        }
    }

    .gather-media-infos {
        width: 100%;

        .gather-media-infos-part {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 20px;

            @media (max-width: 768px){
                flex-direction: column;
            }

            p.gather-media-title {
                font-size: 24px;
                font-weight: 600;
                display: block;
            }

            span {
                font-size: 12px;
                color: $purple;
            }

            .gather-media-author {
                width: fit-content;
                display: flex;
                align-items: flex-end;
                flex-direction: column-reverse;
                min-width: 120px;

                @media (max-width: 768px) {
                    margin-top: 25px;
                    width: 100%;
                    align-items: center;
                }

                .gather-media-author-img-wrapper {
                    width: 60px;
                    height: 60px;
                    border-radius: 9999px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    @media (max-width: 768px) {
                        width: 100%;
                        align-items: center;
                    }
                }

                span {
                    font-size: 16px;
                    color: $black;
                    text-align: right;
                    width: 100%;
                    @media (max-width: 768px) {
                        text-align: center;
                    }
                }

                button {
                    margin: 0;
                }
            }


            p {
                margin-top: 20px;
                font-size: 15px;
                font-weight: 400;
                max-width: 600px;
            }
        }
    }
}

.gather-next-medias-title {
    width: fit-content;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: $black;
    color: $white;
    border-radius: 5px;

    @media (max-width: 768px) {
        text-align: center  ;
    }
}


.gather-small-media {
    @include rec(200px);
    display: block;
    margin: 0 20px 100px 0;
    text-decoration: none;
    color: $black;
    position: relative;
    @media (max-width: 768px) {
        @include rec(160px);
        margin: 0 auto 100px auto;
    }

    &:hover {
        .gather-small-media-preview {
            filter: grayscale(1);
        }

        .gather-delete-media, .gather-edit-media{
            visibility: visible;
            opacity: 1;
        }
    }

    img {
        will-change: filter;
        transition: 0.2s all ease-in-out;
        width: 100%;
    }

    .gather-edit-media{
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
        background: rgba(0, 0, 0, 0.5);
        color: $white;
        border: none;
        top: 10px;
        right: 40px;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all ease-in-out;
        background-image: url(../img/icons/fi-br-pencil-white.svg);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width: 1024px){
            visibility: visible;
            opacity: 1;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    .gather-delete-media {
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
        background: rgba(0, 0, 0, 0.5);
        color: $white;
        border: none;
        top: 10px;
        right: 10px;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all ease-in-out;
        background-image: url(../img/icons/fi-br-trash-white.svg);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width: 1024px){
            visibility: visible;
            opacity: 1;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    .gather-media-infos {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h2 {
            top: 10px;
            left: 10px;
            font-size: 15px;
            font-weight: 600;
            max-width: 70%;
        }

        span {
            top: 10px;
            left: 10px;
            font-size: 12px;
            font-weight: 400;
            margin-top: 4px;
            @media (max-width: 768px){
                font-size: 10px;
            }
        }
    }

    .gather-media-infos-user {
        display: flex;
        align-items: center;

        div {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        span {
            margin-left: 5px;
            font-size: 12px;
            color: $black;
        }
    }
}

.gather-small-media-duration {
    position: absolute;
    display: block;
    width: fit-content;
    background: rgba(0, 0, 0, 0.5);
    color: $white;
    padding: 2px 5px;
    font-weight: 400;
    font-size: 12px;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}
