.gather-profile-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 40px 0;
    background-color: $lightpurple;
    position: relative;
    overflow: hidden;

    .gather-profile-header-user {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gather-profile-image-wrapper {
            width: 100px;
            height: 100px;
            position: relative;

            &:after {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                content: ' ';
                background-color: white;
                top: 0;
                left: 0;
                border-radius: 9999px;
                animation: 2s ease-in-out infinite alternate gather-profile-img;
            }

            &:before {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                content: ' ';
                background-color: white;
                top: 0;
                left: 0;
                border-radius: 9999px;
                transition: 0.3s all ease-in-out;
            }

            &:hover:after {
                animation: none;
            }

            &:hover:before {
                transform: scale(15);
                opacity: 0.1;
            }

            &:hover {
                cursor: pointer;
                .gather-user-edit-btn{
                    visibility: visible;
                    opacity: 1;
                }
            }

            div {
                width: 100px;
                height: 100px;
                overflow: hidden;
                border-radius: 9999px;
                position: relative;
                z-index: 20;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                .gather-user-edit-btn{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    background-color: rgba(0,0,0,0.2);
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.2s all ease-in-out;
                    background-image: url(../img/icons/fi-br-pencil-white.svg);
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        h1 {
            font-size: 18px;
            font-weight: 400;
            color: $white;
            margin-top: 10px;
        }

        span {
            color: $white;
            font-size: 12px;
            opacity: 0.6;
        }
    }

    .gather-button {
        position: absolute;
        bottom: 40px;
        right: 40px;
        background-color: $white;
        color: $purple;

        &:hover {
            background-color: $lightgrey;
        }
    }
}

@keyframes gather-profile-img {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.gather-edit-media-wrapper {
    margin-top: 50px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    @media (max-width: 768px){
        flex-direction: column;
        align-items: center;
    }
    .gather-edit-media-resume {
        margin-right: 25px;
        @include rec(200px);
        display: block;
        position: relative;
        @media (max-width: 768px){
            @include rec(160px);
            margin-right: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    form{
        margin: 0 0 0 25px;
        @media (max-width: 768px){
            margin: 25px 0;
        }
    }
}
